.Topbar{
    width: 100%;
    height: 50px;
    background-color: #041635;
    position: sticky;
    top:0;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 0px;  */
}


.logo{
    width: 100%;
    height: 100%;
    cursor: pointer;
    color:white;
    font-size: 30px;
}


.topRight{
    display: flex;
    align-items: center;
}


.topbarIconContainer{
    position: relative;
    z-index: -1;
    margin-right: 15px;
    color: white;
}

.topIconBadge{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center; /*centraliza o numero dentro do circulo */
    justify-content: center;
    font-size: 10px;
    z-index: 0;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* #305D61
#B8E2E6
#70D7E0
#4E5F61
#57A6AD */